<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heydong.mapper.ImageMapper">
    <insert id="insertImage" parameterType="Image">
        INSERT INTO t_image (
        uuid,
        file_type,
        path,
        uploaded_by
        ) VALUES (
        #{uuid},
        #{fileType},
        #{path},
        #{uploadedBy}
        )
    </insert>
    <sql id="selectImage">
        SELECT
        id,
        uuid,
        file_type AS fileType,
        path,
        uploaded_by AS uploadedBy,
        uploaded_at AS uploadAt
    </sql>
    <select id="getImageByUuid" parameterType="string" resultType="Image">
        <include refid="selectImage"></include>
        WHERE uuid=#{uuid}
    </select>
</mapper>